html{
	background-color: gray;
}
h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 170px;
}
h2 {
	text-align: center;
	font-size: 25px;
}
button {
	height: 30px;
	font-size: 20px;
}
ul {
	list-style: none;
}
.startButton {
	text-align: center;

}
.questions {
	padding: 0 200px;
	padding-top: 100px;
}
.final {
	text-align: center;
}
.question {
	display: none;
}
.final {
	display: none;
}
div > p {
	font-size: 35px;
}
li {
	font-size: 25px;
	cursor: pointer;
}
li:hover {
	color: green;
}
.tracker {
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
.feedback {
	text-align: center;
	font-size: 20px;
	background: white;
	width: 400px;
	margin: 0 auto 20px auto;
}